<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Producto</th>
            <th scope="col">Imagen</th>
            <th scope="col">Descripción</th>
            <th scope="col">Categoría</th>
            <th scope="col">Precio</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let producto of this.listaProductos">
            <th scope="row">{{ producto.id }}</th>
            <td>{{ producto.title }}</td>
            <td><img src={{producto.image}} alt="" width="50px" height="50px"></td>
            <td>{{ producto.description }}</td>
            <td>{{ producto.category }}</td>
            <td>{{ producto.price }}</td>
            <td><button class="btn btn-outline-primary" type="button" [routerLink]="['/productos', producto.id]">Ver</button></td>
        </tr>
    </tbody>
</table>